body {
    background-image: url(./images/beach-1.jpg);
    color: white;
    font-size: 20px;
}

form {
    margin: 100px 300px;
    padding: 25px 50px;
    box-shadow: 0 0 1em black;
    display: flex;
    flex-direction: column;
}

.div-name {
    display: flex;
    flex-shrink: 1 1 1;
}